[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme.git
[submodule "themes/antora-default-ui-hugo-theme"]
	path = themes/antora-default-ui-hugo-theme
	url = https://github.com/basil/antora-default-ui-hugo-theme.git
[submodule "themes/hugo-theme-component-asciidoctor-skin"]
	path = themes/hugo-theme-component-asciidoctor-skin
	url = https://github.com/devidw/hugo-theme-component-asciidoctor-skin
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
